# Teacher Salary Analysis

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from src.wrangle import read_and_filter_data
from datetime import datetime, timedelta

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', 200)

## Acquire + Prepare

In [47]:
data = pd.read_csv('cleaned_salary_schedule_2024.csv')

In [56]:
data

   Paystep    BAC1  BA+30C2   C2+ID   C2+PD  C2+ID+PD  MA+30C6  MA+30C6+PD
0       1A   64789    66964   70983   72832     76848    75009       80873
1       1B   64789    66964   70983   72832     76848    75009       80873
2       2A   66078    68253   72272   74121     78137    76298       82162
3       2B   66078    68253   72272   74121     78137    76298       82162
4       3A   66623    68798   72817   74666     78682    76843       82707
5       3B   66623    68798   72817   74666     78682    76843       82707
6       4A   67588    69763   73782   75631     79647    77808       83672
7       4B   67588    69763   73782   75631     79647    77808       83672
8       5A   68422    70597   74616   76465     80481    78642       84506
9       5B   68422    70597   74616   76465     80481    78642       84506
10      6A   69319    71494   75513   77362     81378    79539       85403
11   6A+L5   70684    72859   76878   78727     82743    80904       86768
12      6B   70592    72767   76786   78635     82651    80812       86676
13   6B+L5   71957    74132   78151   80000     84016    82177       88041
14      7A   72481    74656   78675   80524     84540    82701       88565
15   7A+L5   73846    76021   80040   81889     85905    84066       89930
16      7B   76905    79080   83099   84948     88964    87125       92989
17   7B+L5   78270    80445   84464   86313     90329    88490       94354
18      8A   81042    83217   87236   89085     93101    91262       97126
19   8A+L5   82407    84582   88601   90450     94466    92627       98491
20      8B   85957    88132   92151   94000     98016    96177      102041
21   8B+L5   87322    89497   93516   95365     99381    97542      103406
22  8B+L10   91535    93710   97729   99578    103594   101755      107619
23  8B+L13   94404    96579  100598  102447    106463   104624      110488
24  8B+L15  100458   102633  106652  108501    112517   110678      116542
25  8B+L18  102048   104223  108242  110091    114107   112268      118132
26  8B+L20  113796   115971  119990  121839    125855   124016      129880
27  8B+L22  120408   122583  126602  128451    132467   130628      136492

In [54]:
data[data['Paystep'].str.contains('A')].select_dtypes(include='number').pct_change(axis=0).round(2)

    BAC1  BA+30C2  C2+ID  C2+PD  C2+ID+PD  MA+30C6  MA+30C6+PD
0    NaN      NaN    NaN    NaN       NaN      NaN         NaN
2   0.02     0.02   0.02   0.02      0.02     0.02        0.02
4   0.01     0.01   0.01   0.01      0.01     0.01        0.01
6   0.01     0.01   0.01   0.01      0.01     0.01        0.01
8   0.01     0.01   0.01   0.01      0.01     0.01        0.01
10  0.01     0.01   0.01   0.01      0.01     0.01        0.01
11  0.02     0.02   0.02   0.02      0.02     0.02        0.02
14  0.03     0.02   0.02   0.02      0.02     0.02        0.02
15  0.02     0.02   0.02   0.02      0.02     0.02        0.02
18  0.10     0.09   0.09   0.09      0.08     0.09        0.08
19  0.02     0.02   0.02   0.02      0.01     0.01        0.01

In [53]:
data[data['Paystep'].str.contains('A')].select_dtypes(include='number').pct_change(axis=1).round(2)

    BAC1  BA+30C2  C2+ID  C2+PD  C2+ID+PD  MA+30C6  MA+30C6+PD
0    NaN     0.03   0.06   0.03      0.06    -0.02        0.08
2    NaN     0.03   0.06   0.03      0.05    -0.02        0.08
4    NaN     0.03   0.06   0.03      0.05    -0.02        0.08
6    NaN     0.03   0.06   0.03      0.05    -0.02        0.08
8    NaN     0.03   0.06   0.02      0.05    -0.02        0.07
10   NaN     0.03   0.06   0.02      0.05    -0.02        0.07
11   NaN     0.03   0.06   0.02      0.05    -0.02        0.07
14   NaN     0.03   0.05   0.02      0.05    -0.02        0.07
15   NaN     0.03   0.05   0.02      0.05    -0.02        0.07
18   NaN     0.03   0.05   0.02      0.05    -0.02        0.06
19   NaN     0.03   0.05   0.02      0.04    -0.02        0.06

In [55]:
data[data['Paystep'].str.contains('B')].select_dtypes(include='number').pct_change().round(2)

    BAC1  BA+30C2  C2+ID  C2+PD  C2+ID+PD  MA+30C6  MA+30C6+PD
1    NaN      NaN    NaN    NaN       NaN      NaN         NaN
3   0.02     0.02   0.02   0.02      0.02     0.02        0.02
5   0.01     0.01   0.01   0.01      0.01     0.01        0.01
7   0.01     0.01   0.01   0.01      0.01     0.01        0.01
9   0.01     0.01   0.01   0.01      0.01     0.01        0.01
12  0.03     0.03   0.03   0.03      0.03     0.03        0.03
13  0.02     0.02   0.02   0.02      0.02     0.02        0.02
16  0.07     0.07   0.06   0.06      0.06     0.06        0.06
17  0.02     0.02   0.02   0.02      0.02     0.02        0.01
20  0.10     0.10   0.09   0.09      0.09     0.09        0.08
21  0.02     0.02   0.01   0.01      0.01     0.01        0.01
22  0.05     0.05   0.05   0.04      0.04     0.04        0.04
23  0.03     0.03   0.03   0.03      0.03     0.03        0.03
24  0.06     0.06   0.06   0.06      0.06     0.06        0.05
25  0.02     0.02   0.01   0.01      0.01     0.01        0.01
26  0.12     0.11   0.11   0.11      0.10     0.10        0.10
27  0.06     0.06   0.06   0.05      0.05     0.05        0.05

In [52]:
data[data['Paystep'].str.contains('B')].select_dtypes(include='number').pct_change(axis=1).round(2)

    BAC1  BA+30C2  C2+ID  C2+PD  C2+ID+PD  MA+30C6  MA+30C6+PD
1    NaN     0.03   0.06   0.03      0.06    -0.02        0.08
3    NaN     0.03   0.06   0.03      0.05    -0.02        0.08
5    NaN     0.03   0.06   0.03      0.05    -0.02        0.08
7    NaN     0.03   0.06   0.03      0.05    -0.02        0.08
9    NaN     0.03   0.06   0.02      0.05    -0.02        0.07
12   NaN     0.03   0.06   0.02      0.05    -0.02        0.07
13   NaN     0.03   0.05   0.02      0.05    -0.02        0.07
16   NaN     0.03   0.05   0.02      0.05    -0.02        0.07
17   NaN     0.03   0.05   0.02      0.05    -0.02        0.07
20   NaN     0.03   0.05   0.02      0.04    -0.02        0.06
21   NaN     0.02   0.04   0.02      0.04    -0.02        0.06
22   NaN     0.02   0.04   0.02      0.04    -0.02        0.06
23   NaN     0.02   0.04   0.02      0.04    -0.02        0.06
24   NaN     0.02   0.04   0.02      0.04    -0.02        0.05
25   NaN     0.02   0.04   0.02      0.04    -0.02        0.05
26   NaN     0.02   0.03   0.02      0.03    -0.01        0.05
27   NaN     0.02   0.03   0.01      0.03    -0.01        0.04

In [25]:
df = read_and_filter_data()

In [57]:
df[(df['Paystep']==1)].sort_values('Salary').head()

,Fiscal Year,FirstMidLastStart,Hire Date,Hire Year,Fiscal Year of Hire,Years of Employment,Employment Category,Paystep,Paystep Letter,Salary,Salary Category,Salary Delta,Salary Monetary Diff,Salary Delta Category,Salary Monetary Diff Category
108261,2023,JerryOWilkie2023-02-06,2023-02-06,2023,2022,0,0-5,1,B,61070.0,60k-80k,0.0,0.0,NaN,NaN
134089,2023,KieranCreighton2023-05-31,2023-05-31,2023,2022,0,0-5,1,B,61070.0,60k-80k,0.0,0.0,NaN,NaN
235267,2023,ThaliaBolanos2023-01-09,2023-01-09,2023,2022,0,0-5,1,B,61070.0,60k-80k,0.0,0.0,NaN,NaN
129316,2023,KathyLQuattlebaum2023-02-27,2023-02-27,2023,2022,0,0-5,1,B,61070.0,60k-80k,0.0,0.0,NaN,NaN
124172,2023,KaitlinSenitt-Escobar2022-12-16,2022-12-16,2022,2022,1,0-5,1,A,61070.0,60k-80k,0.0,0.0,NaN,NaN

In [68]:
data[data['Paystep'].str.contains('B')].select_dtypes(include='number').diff() - (65.60*24)

       BAC1  BA+30C2    C2+ID    C2+PD  C2+ID+PD  MA+30C6  MA+30C6+PD
1       NaN      NaN      NaN      NaN       NaN      NaN         NaN
3    -285.4   -285.4   -285.4   -285.4    -285.4   -285.4      -285.4
5   -1029.4  -1029.4  -1029.4  -1029.4   -1029.4  -1029.4     -1029.4
7    -609.4   -609.4   -609.4   -609.4    -609.4   -609.4      -609.4
9    -740.4   -740.4   -740.4   -740.4    -740.4   -740.4      -740.4
12    595.6    595.6    595.6    595.6     595.6    595.6       595.6
13   -209.4   -209.4   -209.4   -209.4    -209.4   -209.4      -209.4
16   3373.6   3373.6   3373.6   3373.6    3373.6   3373.6      3373.6
17   -209.4   -209.4   -209.4   -209.4    -209.4   -209.4      -209.4
20   6112.6   6112.6   6112.6   6112.6    6112.6   6112.6      6112.6
21   -209.4   -209.4   -209.4   -209.4    -209.4   -209.4      -209.4
22   2638.6   2638.6   2638.6   2638.6    2638.6   2638.6      2638.6
23   1294.6   1294.6   1294.6   1294.6    1294.6   1294.6      1294.6
24   4479.6   4479.6   4479.6   4479.6    4479.6   4479.6      4479.6
25     15.6     15.6     15.6     15.6      15.6     15.6        15.6
26  10173.6  10173.6  10173.6  10173.6   10173.6  10173.6     10173.6
27   5037.6   5037.6   5037.6   5037.6    5037.6   5037.6      5037.6

In [63]:
print(f'Annual United Teachers Federation Dues: ${round(65.60*24,2)}')

Annual United Teachers Federation Dues: $1574.4

In [41]:
pd.crosstab(df['Paystep'], df['Paystep Letter'])

Paystep Letter      A     B
Paystep
1                  15   114
2                1091   287
3                3657   351
4                1611   541
5                5354   799
6                8564  1322
7                9955  1750
8               10369  1695
9               10219  1664
10               9356  2928
11               7108  1779
12               6439  1864
13               4864  1281
14               3070   970
15               1645   574
16               6301  1248
17               9166  1375
18               8384  1387
19               8890  1487
20               8627  1450
21               9045  1374
22               8560  1370
23               8940  2379
24              10186  1762
25               8812  1480
26               7152  1967
27               6912  1478
28               5459  1182
29               2718   935
30               2861   824
31               2605   726
32               2168   679
33               1452   420
34               1669   532
35               1334   505
36               1227   271
37                905   221
38                588   222
39                594   183
40                427   114
41                203    40
42                105    41
43                101    56
44                 45    20

In [ ]:
df.Label.value_counts()

In [ ]:
df.head(2).T

In [ ]:
df.tail(2).T

In [ ]:
df.describe().round().T

In [ ]:
df.hist(figsize=(13,7), ec='black')
plt.tight_layout();

## Exploratory Data Analysis

In [ ]:
numeric_cols = df.select_dtypes(include='number').columns.to_list()
category_cols = df.select_dtypes(exclude='number').columns.to_list()

In [ ]:
sns.heatmap(df[numeric_cols].corr(), annot=True, cmap='coolwarm');

In [ ]:
sns.boxplot(data=df, y='Salary', x='Fiscal Year');

In [ ]:
sns.boxplot(data=df, y='Salary', x='Employment Category');

In [ ]:
sns.boxplot(data=df, y='Salary', x='Salary Delta Category');

In [ ]:
sns.boxplot(data=df, y='Salary', x='Salary Monetary Diff Category');

In [ ]:
# res = stats.chi2_contingency(pd.crosstab(df['Employment Category'], df['Salary Category']))
# res = stats.chi2_contingency(pd.crosstab(df['Employment Category'], df['Salary Delta Category']))
# res = stats.chi2_contingency(pd.crosstab(df['Employment Category'], df['Salary Monetary Diff Category']))
# test = stats.chi2_contingency(pd.crosstab(df['Salary Category'], df['Salary Delta Category']))
# test = stats.chi2_contingency(pd.crosstab(df['Salary Category'], df['Salary Monetary Diff Category']))

In [ ]:
sns.pairplot(data=df.sample(frac=.25), x_vars=numeric_cols, y_vars=numeric_cols, hue='Employment Category');