In [4]:
import pandas as pd
pd.set_option('display.max_rows', 200)

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv('teachers_payroll.csv')

In [29]:
df[df['FirstMidLastStart']=='LillianMDelgado1998-09-08']

,Fiscal Year,Last Name,First Name,Mid Init,Hire Date,Work Location Borough,Leave Status,Base Salary,Regular Gross Paid,Total OT Paid,Total Other Pay,Hire Year,Years of Employment,FirstMidLastStart,Total Pay
1,2014,Delgado,Lillian,M,1998-09-08,NaN,Active,79531.0,78791.12,0.0,1000.00,1998.0,16.0,LillianMDelgado1998-09-08,79791.12
66542,2015,Delgado,Lillian,M,1998-09-08,Manhattan,Active,83579.0,82584.28,0.0,0.00,1998.0,17.0,LillianMDelgado1998-09-08,82584.28
161343,2016,Delgado,Lillian,M,1998-09-08,Manhattan,Active,86496.0,84065.20,0.0,0.00,1998.0,18.0,LillianMDelgado1998-09-08,84065.20
240249,2017,Delgado,Lillian,M,1998-09-08,Manhattan,Active,98458.0,93607.76,0.0,6.44,1998.0,19.0,LillianMDelgado1998-09-08,93614.20
277861,2018,Delgado,Lillian,M,1998-09-08,Manhattan,Active,103400.0,98905.37,0.0,0.00,1998.0,20.0,LillianMDelgado1998-09-08,98905.37
341913,2019,Delgado,Lillian,M,1998-09-08,Manhattan,Active,115959.0,123638.76,0.0,0.00,1998.0,21.0,LillianMDelgado1998-09-08,123638.76
405266,2020,Delgado,Lillian,M,1998-09-08,Manhattan,Active,118858.0,116321.49,0.0,11068.55,1998.0,22.0,LillianMDelgado1998-09-08,127390.04
465631,2021,Delgado,Lillian,M,1998-09-08,Manhattan,Ceased,118858.0,19809.68,0.0,21579.11,1998.0,23.0,LillianMDelgado1998-09-08,41388.79
555121,2022,Delgado,Lillian,M,1998-09-08,Manhattan,Ceased,118858.0,0.00,0.0,22239.44,1998.0,24.0,LillianMDelgado1998-09-08,22239.44
593580,2023,Delgado,Lillian,M,1998-09-08,Manhattan,Ceased,118858.0,0.00,0.0,13866.76,1998.0,25.0,LillianMDelgado1998-09-08,13866.76